@import "../node_modules/searchkit/theming/theme.scss";

$primary_color: $sk-primary-theme-color; //#2a4466
$primart_light_color: #576f94;

.primary_light_color_background {
    background: $primart_light_color;
    color: white;
}

.sk-hits-list-hit {
    flex-direction: column;
}

.sk-hits-list__item {
    margin-bottom: 0px;
}

